@import './mixins';

.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  @include desktop {
    padding:  0 30%;

  }
  
  @include tablet {
    padding: 0;
  }
  
  
  .title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 37px;
    margin-bottom: 0;
  }
  
  .content{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: grey;
  }
}