@import "../../scss/common/mixins";

.learnmore-fresh-wrapper {
  display: flex;
  flex-direction: column;
  
  .learnmore-fresh-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 150px;
    box-sizing: border-box;

    @include tablet {
      padding: 81px;
      width: 100%;
    }

    @include phone {
      padding: 81px;
      width: 100%;
    }
  }

  .learnmore-fresh-img {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    
    @include tablet {
      width: 100%;
      height: 326px;
    }

    @include phone {
      width: 100%;
      height: 326px;
    }
  }
}

.learnmore-great-wrapper {
  height: 600px;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;

  @include tablet {
    height: 326px;
  }

  @include phone {
    height: 326px;
  }

  .learnmore-great-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 28%;
    padding: 100px;

    @include tablet {
      padding: 47px;
      width: 50%;
    }

    @include phone {
      padding: 47px;
      width: 50%;
    }
  }
}

.learnmore-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}

.learnmore-info {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  color: grey;
  line-height: 20px;
}

.learnmore-link {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
