.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  
  i{
    cursor: pointer;
    padding: 9px;
    
    &:hover{
      color: #dca47d;
      transition: 0.6s ease-in-out;
      transform: rotate(360deg);
    }
  }
}